<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

   <!-- <context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/>-->

    <!-- 创建rabbit ConnectionFactory -->  
    <rabbit:connection-factory id="connectionFactory" host="${rabbit.host}" username="${rabbit.username}" password="${rabbit.password}"
                                port="${rabbit.port}"/>
    <!-- 创建RabbitAdmin,用来管理exchange、queue、bindings -->  
  <rabbit:admin id="containerAdmin" connection-factory="connectionFactory" />  

	<bean id="simpleMessageConverter" class="org.springframework.amqp.support.converter.SimpleMessageConverter"/>
    <!-- 队列声明 :durable:是否持久化,exclusive:仅创建者可以使用的私有队列，断开后自动删除,auto_delete:当所有消费客户端连接断开后，是否自动删除队列-->
    <rabbit:queue id="evaluate_queue_one" durable="true" auto-delete="false" exclusive="false" name="evaluate_queue_one"/>
	 <!-- 声明direct类型的交换器 -->  
	  <rabbit:direct-exchange name="${rabbit.exchange.evaluate.direct}" durable="false" auto-delete="false" auto-declare="true">  
	    <!-- 将交换器与队列、路由key绑定 -->  
	    <rabbit:bindings>  
	      <rabbit:binding queue="evaluate_queue_one" key="${rabbit.routingKey.evaluate.direct}"></rabbit:binding>  
	    </rabbit:bindings>  
	  </rabbit:direct-exchange>  
	<!-- 声明监听器 --> 
    <bean id="pregnantEvaluateReceive" class="com.foundation.service.evaluate.serviceInterface.pregnant.PregnantEvaluateReceive"/>

    <!--queues：监听的队列，多个的话用逗号（,）分隔ref：监听器-->
    <!--message-converter可用 SimpleMessageConverter（默认）JsonMessageConverter -->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto" prefetch="1" message-converter="simpleMessageConverter">
        <rabbit:listener queues="evaluate_queue_one" ref="pregnantEvaluateReceive"/>
    </rabbit:listener-container>  
</beans>