<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foundation.dao.modules.write.sys.DictDao">

	
	<insert id="insert">
		INSERT INTO sys_dict(
			id, 
			value, 
			label, 
			type, 
			description, 
			sort, 
			create_by, 
			create_date, 
			update_by, 
			update_date, 
			remarks, 
			del_flag
		) VALUES (
			#{id}, 
			#{value}, 
			#{label}, 
			#{type}, 
			#{description}, 
			#{sort}, 
			#{createBy.id}, 
			#{createDate}, 
			#{updateBy.id}, 
			#{updateDate}, 
			#{remarks}, 
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE sys_dict SET 
			value = #{value}, 
			label = #{label}, 
			type = #{type}, 
			description = #{description}, 
			sort = #{sort}, 
			update_by = #{updateBy.id}, 
			update_date = #{updateDate}, 
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	<update id="delete" parameterType="map">
		UPDATE sys_dict SET 
			<![CDATA[
				del_flag = ${@com.foundation.common.bean.Constants@DEL_FLAG_DELETE}
			]]>
		WHERE id = #{id}
	</update>
	
</mapper>