<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foundation.dao.modules.write.questionnaire.RepstQuestionItemScoreDao" >

  <delete id="delete" parameterType="java.lang.String" >
    delete from repst_question_item_score
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="save" parameterType="com.foundation.dao.entity.questionnaire.RepstQuestionItemScore" >
    insert into repst_question_item_score (
    id, item_id, score_condition, score_desc, score, order_id
    )
    values (
    #{id}, #{itemId}, #{scoreCondition}, #{scoreDesc}, #{score}, #{orderId}
    )
  </insert>


  <update id="update" parameterType="com.foundation.dao.entity.questionnaire.RepstQuestionItemScore" >
    update repst_question_item_score
    <set >
      <if test="itemId != null" > item_id = #{itemId}, </if>
      <if test="scoreCondition != null" > score_condition = #{scoreCondition}, </if>
      <if test="scoreDesc != null" > score_desc = #{scoreDesc}, </if>
      <if test="score != null" > score = #{score}, </if>
      <if test="orderId != null" > order_id = #{orderId}, </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateById" parameterType="java.util.Map" >
    update repst_question_item_score
    <set >
      <if test="itemId != null" > item_id = #{itemId}, </if>
      <if test="scoreCondition != null" > score_condition = #{scoreCondition}, </if>
      <if test="scoreDesc != null" > score_desc = #{scoreDesc}, </if>
      <if test="score != null" > score = #{score}, </if>
      <if test="orderId != null" > order_id = #{orderId}, </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="batchSave" parameterType="java.util.List">
    insert into  repst_question_item_score (
    id, item_id, score_condition, score_desc, score, order_id
    )
    values
    <foreach item="item" collection="list" separator=",">
      (
      #{item.id}, #{item.itemId}, #{item.scoreCondition}, #{item.scoreDesc}, #{item.score}, #{item.orderId}
      )
    </foreach>
  </insert>

</mapper>