<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foundation.dao.modules.write.indicatorSys.IndicatorRuleItemsDao" >

 <!-- <insert id="insert" parameterType="com.foundation.dao.entity.indicatorSys.IndicatorRuleItems" >
    insert into indicator_rule_items (item_name, item_code, item_group, 
      item_type, item_child_group, item_index
      )
    values (#{itemName}, #{itemCode}, #{itemGroup}, 
      #{itemType}, #{itemChildGroup}, #{itemIndex}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.foundation.dao.entity.indicatorSys.IndicatorRuleItems" >
    insert into indicator_rule_items
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemCode != null" >
        item_code,
      </if>
      <if test="itemGroup != null" >
        item_group,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="itemChildGroup != null" >
        item_child_group,
      </if>
      <if test="itemIndex != null" >
        item_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemName != null" >
        #{itemName},
      </if>
      <if test="itemCode != null" >
        #{itemCode},
      </if>
      <if test="itemGroup != null" >
        #{itemGroup},
      </if>
      <if test="itemType != null" >
        #{itemType},
      </if>
      <if test="itemChildGroup != null" >
        #{itemChildGroup},
      </if>
      <if test="itemIndex != null" >
        #{itemIndex},
      </if>
    </trim>
  </insert>-->
</mapper>