<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foundation.dao.modules.write.evaluate.EvaluateRuleDao">
	<insert id="save" parameterType="com.foundation.dao.entity.evaluate.EvaluateRule">
		insert into evaluate_rule
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="evaluateInfoId != null">
				evaluate_info_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="rule != null">
				rule,
			</if>
			<if test="resultTag != null">
				result_tag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="evaluateInfoId != null">
				#{evaluateInfoId},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="rule != null">
				#{rule},
			</if>
			<if test="resultTag != null">
				#{resultTag},
			</if>
		</trim>
	</insert>
	<!-- 更新 -->
	<update id="update" parameterType="com.foundation.dao.entity.evaluate.EvaluateRule">
		update evaluate_rule
		<set>
			<if test="evaluateInfoId != null">
				evaluate_info_id = #{evaluateInfoId},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="rule != null">
				rule = #{rule},
			</if>
			<if test="resultTag != null">
				result_tag = #{resultTag},
			</if>
		</set>
		where id = #{id}
	</update>
	<delete id="delete" parameterType="java.lang.String">
		delete from evaluate_rule where id = #{id}
	</delete>
</mapper>