<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foundation.dao.modules.write.disease.DiseaseGenelociRelDao" >

  <delete id="deleteByDiseaseId" parameterType="java.lang.String" >
    delete from disease_geneloci_rel
    where disease_id = #{diseaseId}
  </delete>

  <insert id="save" parameterType="com.foundation.dao.entity.disease.DiseaseGenelociRel" >
    insert into disease_geneloci_rel (id, disease_id, gene_loci_id, 
      remark)
    values (#{id}, #{diseaseId}, #{geneLociId}, 
      #{remark})
  </insert>

  <insert id="batchSave" parameterType="list" >
    insert into disease_geneloci_rel (id, disease_id, gene_loci_id,
    remark)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id}, #{item.diseaseId}, #{item.geneLociId},#{item.remark})
    </foreach>
  </insert>
</mapper>