<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foundation.dao.modules.write.disease.DiseaseAppraisalConclusionRelDao" >

  <delete id="deleteBydiseaseId" parameterType="java.lang.String" >
    delete from disease_appraisal_conclusion_rel
    where disease_id = #{diseaseId}
  </delete>

  <insert id="save" parameterType="com.foundation.dao.entity.disease.DiseaseAppraisalConclusionRel" >
    insert into disease_appraisal_conclusion_rel (id,disease_id, appraisal_conclusion_id)
    values (#{id},#{diseaseId}, #{appraisalConclusionId})
  </insert>

  <insert id="batchSave" parameterType="list" >
    insert into disease_appraisal_conclusion_rel (id,disease_id, appraisal_conclusion_id)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id},#{item.diseaseId}, #{item.appraisalConclusionId})
    </foreach>
  </insert>

</mapper>